<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        function addNewBlog(){
            //lay du lieu
            let title = $('#title').val();
            let content = $('#content').val();
            let category = $('#category').val();
            let newBlog = {
                title: title,
                content : content,
                category: {
                    id: category
                }
            }
            // goi ajax
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                data: JSON.stringify(newBlog),
                //tên API
                url: "/blog",
                //xử lý khi thành công
                success: successHandler

            });
            //chặn sự kiện mặc định của thẻ
            event.preventDefault();
        }
        function getBlog(blog) {
            return `<tr><td >${blog.title}</td><td >${blog.content}</td><td >${blog.category.name}</td>` +
                `<td><button class="updateBlog" type="button" onclick="showEditForm(${blog.id}})">update</button></td>` +
                `<td><button class="deleteBlog" onclick="deleteBlog(${blog.id})">Delete</button></tr>`;
        }

        function successHandler() {
            $.ajax({
                type: "GET",
                url: "/blog",
                success: function (data) {
                    let content = '<tr>\n' +
                        '        <th>Title </th>\n' +
                        '        <th>Content</th>\n' +
                        '        <th>Category</th>\n' +
                        '        <th>Edit</th>\n' +
                        '        <th>Delete</th>\n' +
                        '    </tr>';
                    for (let i = 0; i < data.length; i++) {
                        content += getBlog(data[i])
                    }
                    document.getElementById('blogList').innerHTML = content;
                }
            });
        }
        function deleteBlog(id){
            $.ajax({
                type: "DELETE",
                url: `/blog/${id}`,
                success: successHandler
            })
            event.preventDefault();
        }

        function showCate(){
            $.ajax({
                type:"GET",
                url:"http://localhost:8080/category",
                success: function (cate){
                    let content = "";
                    for (let i = 0; i < cate.length; i++) {
                        content +=`<option value="${cate[i].id}">${cate[i].name}</option>`
                    }
                    $("#category").html(content);
                }

            })
        }
        showCate();

        // function update(id) {
        //     $.ajax({
        //         url: "/blog",
        //         type: "GET",
        //         dataType: "json",
        //         success: function (data) {
        //
        //         }
        //     })
        //
        // }


        // function updateBook(id){
        //     let name = $(`#name`).val();
        //     let author = $(`#author`).val();
        //     let price = $(`#price`).val();
        //     let category = $(`#category`).val();
        //     let book = {
        //         name : name,
        //         price : price,
        //         author: author,
        //         category:{
        //             id : category
        //         }
        //     }
        //     $.ajax({
        //         headers:{
        //             'Accept' : 'application/json',
        //             'Content-Type' : 'application/json'
        //         },
        //         type:"PUT",
        //         data: JSON.stringify(book),
        //         url:`/books/${id}`,
        //         success:function (){
        //             successHandler()
        //         }
        //     })
        // }
        $(document).ready(successHandler())
    </script>
</head>
<body>
<form th:object="${blogs}">
    <table id="addBlog">
        <tr>
            <td>Title:</td>
            <td><input type="text" id="title" placeholder="Title"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" id="content" placeholder="Content"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select id="category">
                    <option th:each="c:${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add" onclick="addNewBlog()" ></td>
        </tr>
    </table>
</form>

<h1>Blog</h1>
<table id="blogList" border="1">
    <tr>
        <th>Title </th>
        <th>Content</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="b : ${blogs}">
        <tr>
            <td th:text="${b.title}"></td>
            <td th:text="${b.content}"></td>
            <td th:if="${b.category}" th:text="${b.category.name}"></td>
            <td th:unless="${b.category}"></td>

            <td><a th:href="${b.id}" class="updateBook" onclick="updateBlog()">Edit</a></td>
            <td><a th:href="${b.id}" class="deleteBook" onclick="deleteBlog()">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>